body{
    background-color: #E0C7DB;
}



a{
    display: inline;
    margin-inline: 50px;
    border: 3px solid #fcf2f2;
    border-radius: 10px;
    padding: 5px;
    color: #f4efef;


}